<%= form_for(@goofball) do |f| %>
  <% if @goofball.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goofball.errors.count, "error") %> prohibited this goofball from being saved:</h2>

      <ul>
      <% @goofball.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
